<h1>{{title}}</h1>
<!-- <h2>Global level Services: {{num}}</h2>
<h2>Component level Services: {{num1}}</h2> -->
<!-- <app-heroes></app-heroes> -->

<!-- [] -> property, () -> event -->
<!-- syntax for defining property: [child property name] = "parent property" -->
<!-- whenever function messageFromChild is fired, RHS is also fired "Either function or a property of parent" -->
<!-- <app-child [childNum]="num" (messageFromChild)="childMessage=$event"></app-child>
<p>child mess: {{childMessage}}</p> -->

<!---- Forms-Basics ------>
<app-form-basics></app-form-basics>
